

#skills{
    background: black;
    margin: 5% auto;
    padding: 5% 10%;
    color: white;
}

#skill-h{
    color: white;
}

#skill-sub{
    color: white !important;
}

#skill-cont{
    overflow:visible;
}

.skill-divs{

    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: end;

    padding: 7% 10%;
    text-align: center;
    border-radius: 9px;
    color: black;
    font-weight: bold;
}

#skills button{
    background: white;
    color: black;
}

#skills button span{
    color: aqua !important;
    background: black;
}