

#skills{
    background: black;
    margin: 5% auto;
    padding: 5% 10%;
    color: white;
}

.skill-icons{
    width: 20%;
}

.skill-name{
    font-size: 2vh;
}

.percent{
    font-size: large;
    color: darkcyan;
}

#skill-h{
    color: white;
}

#skill-sub{
    color: white !important;
}

#skill-cont{
    overflow:visible;
}

.skill-divs{

    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: end;

    cursor: pointer;
    padding: 7% 10%;
    text-align: center;
    border-radius: 9px;
    font-weight: bold;
    transition: all 0.3s;
}

.skill-divs h2{
    color: grey;
    transition: all 0.6s;
}

#skills button{
    background: white;
    color: black;
}

#skills button span{
    color: aqua !important;
    background: black;
}

.skill-divs:hover{
    background: rgb(193, 193, 193);
}

.skill-divs:hover h2{
    color: black;
}