

#logo-menu{
    width: 5vh;
    cursor: pointer;
}

#nav-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 75px;
    transition: all 0.5s;
}

#menu-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.close-btn{
    padding: 0.5vh 2vh;
    margin: 2%;
    align-self: end;
}

#menu-link-cont{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    font-size: 7vh;
    padding: 2% 5%;
}

#menu-link-cont a{
    font-family: 'Poppins';
    color: white !important;
    width: max-content;
}

#menu-link-cont a:hover{
    opacity: 0.6;
}

span.nav-span{
    color: white !important;
    transform: rotate(25deg);
    transition: all 0.6s;
}

#menu-link-cont a:hover span{
    transform: rotate(50deg);
}

#nav-container .left{
    display: flex;
    gap: 75px;
    align-items: baseline;
    transition: all 1s;
}

a.nav-link{
    color: black;
}

a.nav-link:hover{
    color: #0000008c
}

.opt-btn{
    padding: 1% 4vh;
    transition: all 0.7s;
}

.opt-btn span{ color: white !important; }

.opt-btn:hover{
    padding: 1% 4.5vh;
}

.css-m9glnp-MuiPaper-root-MuiDialog-paper {
    background: black !important;
}

@media (max-width:899px) {
    #nav-container{
        justify-content: space-between;        
    }
}