
#work{
    margin: 5% auto;
    padding: 5% 10%;
}

.uk-card-media-top{
    transition: all 0.7s;
}

.uk-card-default{
    transition: all 0.9s;
}

#work .uk-card-default{
    height: 100%;
}   

#work .uk-card-default:hover{
    cursor: pointer;
}

#work .uk-card-default:hover .uk-card-media-top{
    cursor: pointer;
    transform: scale3d(1.03, 1.03, 1);
    box-shadow: 0px 0px 20px 1px #bbdefb86;
}

#work .uk-card-title{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

/* swiper */

.swiper {
    width: 100%;
    height: 100%;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

